@import "reset";
@import "calendar";
@import "loops";
@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 30px;
}
